### Terraform ###
# Terraform - https://terraform.io/
.terraform
*.tfvars
*.backup
*.tfstate
*.DS_Store
*.plan
*.publishsettings
### Keys ###
*.pem
### BOSH ###
*state.json
bosh-director.yml
concourse.yml
aws-cloud.yml
logsearch.yml
